body {
  background-color: #494949;
  font-family: 'Droid Sans', sans-serif;
}

g.node {
    font-size: 20px;
    font-weight: bold;
    fill: #232323;
}

rect.node-platform {
    fill: #1d72aa;
    stroke: #232323;
    stroke-width: 1px;
}

rect.node-user {
    fill: #c44440;
    stroke: #232323;
    stroke-width: 1px;
}

rect.node-gallery {
    fill: #8cbb4e;
    stroke: #232323;
    stroke-width: 1px;
}

rect.node-image {
    fill: #8baad1;
    stroke: #232323;
    stroke-width: 1px;
}

path.link {
    fill: none;
    stroke: gray;
    stroke-width: 2px;
}

#tree-container {
  	position: absolute;
  	right: 10px;
  	top: 10px;
  	width: 55%;
  	height: 40%;
  	background-color: #494949;
  	border: 1px solid #232323;
}

#memory-container {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 55%;
    height: 56%;
    background-color: #494949;
    border: 1px solid #232323;
}



.eden-area {
    fill: none;
    stroke: #c44440;
    stroke-width: 1px;
}

.survivor-area {
    fill: none;
    stroke: #1d72aa;
    stroke-width: 1px;
}

.old-area {
    fill: none;
    stroke: #8cbb4e;
    stroke-width: 1px;
}
	
#page-container {
	background-repeat:no-repeat;
	background-position: left;
	background-attachment: fixed;
	position: absolute;
	left: 5%;
	top: 5%;
  width: 35%;
  height: 90%;
}

.page {
  width: 90%;
  height: 40%;
  margin: 5%;
  background-color: #F2F2F2;
}

input[type="text"] {
	border: 2px solid #000000;
	background: #ffffff;
	color:#000000;
}

input[type="password"] {
	border: 2px solid #000000;
	background: #ffffff;
	color:#000000;
}

input[type="submit"] {
	border: none;
	background: transparent;
	color:#000000;
	font-size:16px;
}

input[type="submit"]:hover {
	border: thin #999999 outset;
	background: #FFFFFF;
	color: #000000;
}
input[type="submit"]:focus  {
	border: thin #000000 solid;
	background: #FFFFFF;
	color: #000000;
}
input[type="submit"]:focus:hover {
	border: thin #000000 solid;
	background: #FFFFFF;
	color: #000000;
}

.login {
	position: relative;
	width: 50%;
	height: 30%;
	left: 17%;
	top: 40%;
}

.user {
  width: 100%;
  height: 100%;
  border: 2px solid #c44440;
  background-color: #F2F2F2;
}

.gallery {
	margin: 20px;
	font: small Verdana, sans-serif;
  overflow: hidden;
  padding: 10px;
}


.gallery table {
	margin: 0;
	border-bottom: 1px solid #666;
}

.gallery h2 {
	color:black;
	font-size:14px;
}

.gallery a {
	color:black;
	font-size:12px;
}

.login a {
	color:black;
	font-size:16px;
}

#text {
	color:black;
	font-size:16px;
}

div.heading{
	color:black;
	font-size:32px;
	align:center
}

div.img {
  margin: 20px 2px 0 0;
  border:1px solid #000000;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  }
div.img img {
  display:inline;
  margin:3px;
  border:1px solid #000000;
}
div.img a:hover img {
  border:1px solid #000000;
}

div.desc {
  text-align:center;
  font-weight:normal;
  width:70px;
  margin:2px;
}
  
.upload {
    width: 390px;
    height: 50px;
  	display:block; position:absolute;
  	top:100px; left:110px; width:390px;
  	background-color: #F2F2F2;
  	border:1px solid black;
}

.upload_2 {
    width: 390px;
    height: 50px;
	display:block; position:absolute;
	top:355px; left:110px; width:390px;
	background-color: #F2F2F2;
	border:1px solid black;
}

.eden-node, .survivor1-node, .survivor2-node, .old-node {
    font-size: 14px;
    font-weight: bold;
    fill: #232323;
}

.marked-marker, .platform-marked-marker {
    fill: #232323;
    stroke: #232323;
    stroke-width: 1px;
}
.marked-text, .platform-marked-text {
    font-size: 20px;
    font-weight: bold;
    fill: #FFFFFF;
}

.count-marker {
    fill: #232323;
    stroke: #232323;
    stroke-width: 1px;
}
.count-text {
    fill: #FFFFFF;
}

.rotate {
	/* Safari */
	-webkit-transform: rotate(-90deg);

	/* Firefox */
	-moz-transform: rotate(-90deg);

	/* IE */
	-ms-transform: rotate(-90deg);

	/* Opera */
	-o-transform: rotate(-90deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.gc-code {
  position: absolute;
  z-index: 10;
  left: 30px;
  top: 30px;
  width: 40%;
}

.gc-code div {
  display: inline-block;
    width: 80%;
}

.highlighted {
  background-color: #FFFFCC;
}